h3{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;

}

h1{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-stretch: condensed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    margin-left: 400px;
    margin-right: 400px;
    text-align: justify;
    justify-content: center;
    text-justify: inter-word;

}
.container {
padding-left: 500px;
padding-right: 500px;
text-align: justify;
justify-content: center;
}

div{
    color: aliceblue;
    padding-left: 500px;
    padding-right: 500px;
    text-align: justify;
    justify-content: center;
}

a{
    margin-left: 10px;
    margin-right: 10px;
}


p{
    text-align: justify;
    text-justify: inter-word;
}

img{
    border-radius: 50%;
    border-color: aliceblue;
    margin-left: 550px;
    margin-right: 550px;
}

button{
    border-radius: 50%;
}